.list-group-item {
    background-color: transparent;
}

td span svg {
    margin-bottom: 5px;
}

img.grade {
    margin-bottom: -10px;
}

.text-position-left {
    text-align: left;
}

.text-position-right {
    text-align: right;
}

.search-input {
    min-width: 275px;

}

.search-input:focus {
    border-bottom: none;
}

.icon-game:before {
    content: url("../image/theme/icon-game.svg");
}

.icon-cog:before {
    content: url("../image/theme/icon-cog.svg");
}

.icon-card:before {
    content: url("../image/theme/icon-card.svg");
}

