.list-group-item {
    background-color: transparent;
}

td span svg {
    margin-bottom: 5px;
}

img.grade {
    margin-bottom: -10px;
}

.text-position-left {
    text-align: left;
}

.text-position-right {
    text-align: right;
}

.search-input {
    min-width: 275px;

}

.search-input:focus {
    border-bottom: none;
}

.icon-game:before {
    content: url("../image/theme/icon-game.svg");
}

.icon-cog:before {
    content: url("../image/theme/icon-cog.svg");
}

.icon-card:before {
    content: url("../image/theme/icon-card.svg");
}

.sd-background {
    background: url("../image/theme/dark-bg.webp");
}

.search_result {
    position: absolute;
    z-index: 2;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    background-color: #0e0e0e;;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.rb-tab {
    width: 30%;
    margin: auto;
}

.color-main-1-important {
    color: #e08821 !important;
}

.disabled-with-js {
    background-color: #000000;
}

td.td-has {
    max-width: 100px !important;
}

td.td-has input {
    max-width: 100px !important;
}

td.td-price {
    max-width: 130px !important;
}

@media (min-width: 767px) {
    td.td-price {
        display: flex;
    }

    td.td-price span {
        padding-top: 10px;
    }
}

td.td-price input {
    max-width: 130px !important;
}

table.recipe td {
    padding: 0.25rem;
    vertical-align: middle;
}


@media screen and (max-width: 767px) {
    .mobile-hide {
        display: none;
    }

    .mobile-no-padding {
        padding: 0;
    }

    .mobile-font-size {
        font-size: 12px;
    }

    .mobile-max-width {
        max-width: 65px;
    }

    .mobile-min-width {
        min-width: 75px;
    }
}

input#recipe-price {
    width: 50%;
    display: inline-block
}

.save-prices {
    margin-left: 125px;
    margin-bottom: 50px;
}

@media screen and (max-width: 991px) {
    .save-prices {
        margin-left: 10px;
        margin-bottom: 70px;
        padding: 0;
        font-size: 14px;
    }
}

input.input-price-search#item-search {
    margin-bottom: 30px;
}

canvas#price-chart {
    background-color: #282323;
}

.sd-color-green {
    color: rgba(92, 184, 92, .9);
}

.sd-color-red {
    color: rgba(217, 83, 79, 0.9);
}

.sd-background-grey {
    background-color: #302a2a;
}

.sa-info p {
    margin-bottom: 5px;
}

.tooltip-inner {
    min-width: 100px;
    max-width: 100%;
}

.tooltip-inner .col-4 {
    max-width: 150px;
}

a.no-decoration:hover {
    text-decoration: none;
}

.faq-block button {
    white-space: normal;
}

.nk-box-2.nk-box-line h2 {
    min-height: 65px;
}

.nk-box-2.nk-box-line p.target {
    min-height: 55px
}
